

<div class="form-row" class="tool">
    <a  routerLink="" class="btn btn-light btn-sm">&nbsp;<span class="fas fa-home">&nbsp;&nbsp;</span>Home /</a>
   <span class="btn btn-light btn-sm">Customers /</span>  
    <a   routerLink="Customers/Customer" class="btn btn-light btn-sm">
      <span class="btn btn-light btn-sm"></span> Customer/
    </a> 
    <a   routerLink="Customers/Customer/Location" class="btn btn-light btn-sm">
        <span class="fas fa-sync fa-spin"></span> Location
      </a>    
</div> 


<br>
<agm-map [latitude]="latitude" [longitude]="longitude"></agm-map>
<!-- <google-map></google-map> -->



